<app-nav-bar>
</app-nav-bar>
<div class="container my-4">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div *ngFor="let product of products" class="col">
        <div class="card h-100">
          <img [src]="product.Image" class="card-img-top" alt="{{ product.Name }}">
          <div class="card-body">
            <h5 class="card-title">{{ product.Name }}</h5>
            <p class="card-text">{{ product.Description }}</p>
            <p class="card-text">Price: ${{ product.Price }}</p>
            <button class="btn btn-primary" (click)="navigateToProductDetail(product.Id)">Add to Cart</button>
        </div>
        </div>
      </div>
    </div>
  </div>
  